body{
  font:15px Arial, Helvetica, Sans-serif;
  margin:0;
  padding:0;
  background-color: #bfcaf5;
}

h3
{
  text-align: left;
  margin-left:20px;
}

#first
{
  display:flex;
}

#hello
{
  background-color: #e73745;
  color:yellow
}


#mock
{
  margin:30px;
  display:flex;
  justify-content: space-between;
}

img
{
  margin:20px;
  border-style: inset;
  border-width: 10px;
  border-color:#659DBD;
  width:600px;
  height:400px;
}



.index{
  width:80%;
  margin:auto;
  overflow:hidden;
}
ul{
  margin:0;
  padding:0;
}


#header{
  background:#659DBD;
  color:#ffffff;
  padding-top:30px;
  min-height:70px;
  border-bottom: #e8491d 3px solid;
}

#header a{
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
}



#header li{
   float: left;
   display:inline;
   padding:0 20px 0 20px;
 }
#header #branding{
   float: left;
 }
#header #branding h1{
   margin:0;
 }
#header nav{
   float:right;
   margin-top:10px;
 }
 #header .highlight, header .current a{
    color:#e8491d;
    font-weight:bold;
}
#header a:hover{
   color:#0fdee6;
   font-weight:bold;

}

h1
{
  font-size: 30px;
  margin:20px;
  
}

a:hover
{
  cursor: pointer;
}

#head
{
  color: #b1000f;
  font-style:italic;
}

p
{
  margin-left:20px;
  margin-right:20px;
}

#diff
{
  font-size:40px;
  text-shadow: 3px 3px 20px black;
}

#footer{
  padding :20px;
  color:#ffffff;
  background-color:#e73745;
  text-align: center;

}

#linka:hover
{
  text-decoration: underline;
}

#last
{
  margin-left:50px;
}

/* Media Queries */
 @media(max-width: 768px) {

   header #branding
   header nav,
   header nav li
   {

     float: none;
     text-align: center;
     width:100%;
   }
    header{
      padding-bottom:20px;
    }
  }
